$poppins: "Poppins", sans-serif;
$roboto: "Roboto", sans-serif;
$andadapro:"Andada Pro", serif ;
$inter: "Inter", sans-serif;
$white: #ffffff;
$black: #000000;
$simpleblack: #1b1b1b;
$gray: #dfdfdf;
$blue: #00025c;
$green: #09e740;
$purple: #ff05f3;