@import 'utils/variables';
@import 'base/resets';
@import 'base/typography';

.white-bg {
    background: $white;

    a {
        color: $simpleblack;
    }

    button {
        color: $simpleblack;
    }

}

.black-bg {
    background: $blackbg;

    a {
        color: $white !important;
    }

    button {
        color: $white !important;
    }
    ul{
        li{
            color: $white !important;
        }
    }


}

.wrapper {
    background: $gray;
    min-height: 100vh;
    position: relative;
    top: 0;
    height: 100vh;
    overflow: hidden;
    .sidebar {
        box-shadow: 4px 4px 10px rgba(69, 65, 78, .06);
        height: 100vh;
        transition: all 0.5s ease;
        height: 100vh;
        position: relative;

        .inner {
            height: 100%;

            .side-bar-logo-area {
                padding: 0 20px;
                // border-bottom: 1px solid $simpleblack;
                height: 70px;

                .logo {
                    width: 50px;

                    img {
                        width: 40px;
                    }
                }

                .sidebar-toggle-icon {
                    button {
                        font-size: 30px;

                        .bigsidebar {
                            display: none;
                        }
                    }
                }
            }

            .sidenavbar-area {
                height: 100%;

                .sidenavitem {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px 20px;
                    font-size: 15px;
                    font-weight: 500;
                    font-family: $roboto;
                    margin: 0 10px;
                    text-transform: capitalize;
                    transition: all .5s;

                    &:first-child {
                        margin-top: 0;
                    }

                    &:hover {
                        color: $purple;

                    }

                    &:hover .submenuitem {
                        color: $purple;

                    }


                    .navcontent {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        column-gap: 15px;
                    }

                    .submenuitem {
                        font-size: 16px;

                        .submenuarrow {
                            display: inline-block;
                            transition: transform 0.3s;
                        }

                        .rotated {
                            transform: rotate(90deg);
                        }
                    }
                }

                .active {
                    color: $purple !important;
                }

                .navsubitems {
                    padding-left: 80px;

                    ul {
                        border-left: 2px solid $cyan;

                        li {
                            margin-bottom: 10px;
                            a {
                                font-size: 14px;
                                text-transform: capitalize;
                                font-weight: 400;
                                font-family: $roboto;
                                padding: 5px;
                                margin-left: 10px;
                                display: block;
                                position: relative;
                                transition: all .5s;

                                &:hover {
                                    color: $cyan;
                                }

                                &:hover .hoversubmenuicon {
                                    opacity: 100%;
                                }

                                .hoversubmenuicon {
                                    color: $cyan;
                                    font-size: 9px;
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    left: -16px;
                                    z-index: 1;
                                    opacity: 0;
                                    transition: all .4s;
                                }
                            }

                            .submenuactive {
                                color: $cyan;
                            }
                        }
                    }
                }

            }

        }
    }

    .main-panel {
        transition: all 0.5s ease;

        .top-header-inner {
            height: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 30px;
            position: sticky;
            top: 0;
            box-shadow: 4px 4px 10px rgba(69, 65, 78, .06);
            .left {
                .search-area {
                    max-width: 300px;
                    width: 100%;
                    position: relative;

                    input {
                        width: 100%;
                        height: 100%;
                        border: 1px solid $simpleblack;
                        border-radius: 8px;
                        padding: 10px 10px 10px 40px;
                    }

                    .search-icon {
                        font-size: 16px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 10px;
                    }
                }
            }

            .right {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                column-gap: 15px;

                .topbar-item {
                    position: relative;
                   
                    padding: 12px 9px;
                    border-radius: 5px;
                    transition: all .3s ease;
                    &:hover{
                        background: $gray;
                    }
                    &:last-child{
                        padding: 8px 9px;
                    }
                    button {
                        font-size: 20px;
                        position: relative;
                        span {
                            background: #20c997;
                            height: 14px;
                            width: 14px;
                            font-size: 10px;
                            position: absolute;
                            top: -9px;
                            right: -5px;
                            border-radius: 50%;
                            color: $white;
                            display: block;
                            padding-top: 2px;
                            text-align: center;
                        }
                    }

                   

                    .fullscreenmode {
                        .minimize {
                            display: none;
                        }
                    }

                    .institute-information {
                        display: flex;
                        justify-content: left;
                        align-items: center;
                        column-gap: 20px;
                        cursor: pointer;

                        .institutelogo {
                            height: 30px;
                            width: 30px;
                            border-radius: 50%;
                            display: block;
                            border: 2px solid $green;
                            overflow: hidden;
                            padding: 2px;

                        }

                        .institute-name {
                            font-size: 20px;
                            font-family: $andadapro;
                            font-weight: 400;
                            text-transform: capitalize;
                        }


                    }

                    .information-details-area {
                        position: absolute;
                        top: 74px;
                        right: 0;
                        background: $white;
                        border-radius: 10px;
                        min-width: 250px;
                        width: 100%;
                        box-shadow: 0 4px 10px rgba(69, 69, 0, .6);
                        z-index: 3;
                        display: none;
                        .inner {
                            padding: 10px;
                            position: relative;
                            
                            .header-area{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                border-bottom: 2px solid $gray;
                                padding: 10px;
                                h1{
                                    font-size: 15px;
                                    font-family: $roboto;
                                    font-weight: 500;
                                    text-transform: capitalize;
                                }
                                button{
                                    font-size: 15px;
                                    font-family: $roboto;
                                    font-weight: 500;
                                    color: $blue;
                                    text-transform: capitalize;
                                }
                            }
                            .main-content-area{
                                height: 220px;
                                overflow-y: scroll;
                                
                                .content{
                                    padding: 10px;
                                    border-bottom: 2px solid $gray;
                                    transition: all .3s ease;
                                    overflow: hidden;
                                    border-radius: 5px;
                                    &:hover{
                                        background: $gray;
                                    }
                                    .sender-images{
                                        height: 50px;
                                        min-width: 50px ;
                                        max-width: 50px ;
                                        border-radius: 50%;
                                        overflow: hidden;
                                        background: $blue;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        color: $white;
                                    }
                                    ul{
                                        padding-left: 20px;
                                        li{
                                            margin-bottom: 5px;
                                            &:nth-child(1){
                                                font-size: 15px;
                                                font-family: $roboto;
                                                font-weight: 500;
                                                color: $black;
                                                text-wrap: nowrap;
                                                overflow: hidden;
                                            }
                                            &:nth-child(2){
                                                font-size: 12px;
                                                font-family: $roboto;
                                                font-weight: 400;
                                                color: $blackbg;
                                                text-wrap: nowrap;
                                                overflow: hidden;
                                            }
                                            &:nth-child(3){
                                                font-size: 10px;
                                                font-family: $poppins;
                                                font-weight: 300;
                                            }
                                        }
                                    }
                                }
                            }
                            .main-content-area {
                                height: 220px;
                                overflow-y: scroll;
                            }
                            
                            /* WebKit-based browsers (Chrome, Safari, Edge) */
                            .main-content-area::-webkit-scrollbar {
                                width: 12px; /* Adjust the width of the scrollbar */
                            }
                            
                            .main-content-area::-webkit-scrollbar-track {
                                background: #f1f1f1; /* Background color of the scrollbar track */
                            }
                            
                            .main-content-area::-webkit-scrollbar-thumb {
                                background: #888; /* Color of the scrollbar thumb */
                                border-radius: 6px; /* Optional: round the corners of the scrollbar thumb */
                            }
                            
                            .main-content-area::-webkit-scrollbar-thumb:hover {
                                background: #555; /* Color when hovered */
                            }
                            
                            /* Firefox */
                            .main-content-area {
                                scrollbar-width: thin; /* Make the scrollbar thinner */
                                scrollbar-color: #888 #f1f1f1; /* Thumb color, Track color */
                            }
                            
                            /* Internet Explorer 10+ and Edge (older versions) */
                            .main-content-area {
                                -ms-overflow-style: -ms-autohiding-scrollbar;
                            }
                            
                            .footer{
                                border-top: 2px solid $gray;
                                text-transform: capitalize;
                                transition: all .3s ease;
                                border-radius: 5px;
                                    
                                    &:hover{
                                        background: $gray;
                                    }
                                a{
                                    font-size: 16px;
                                    padding: 10px;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    font-family: $roboto;
                                   
                                }
                            }

                            ul {
                                width: 100%;

                                li {
                                    margin-bottom: 15px;
                                    width: 100%;

                                    a {
                                        width: 100%;
                                        padding: 10px;
                                        font-size: 16px;
                                        font-family: $inter;
                                        font-weight: 500;
                                        background: $gray;
                                        text-transform: capitalize;
                                        display: block;
                                        transition: all .3s ease;

                                        &:hover {
                                            background: $purple;
                                            color: $white;
                                        }
                                    }
                                }
                            }

                            .indicator {
                                font-size: 20px;
                                color: $white;
                                position: absolute;
                                right: 10px;
                                top: -17px;
                            }
                        }

                    }

                    .user-area {
                       
                        top: 76px !important;
                    }
                }
            }
        }
        .card-stats{
            box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, .1);
            .card-body{
                .col-icon{
                    height: 65px;
                    width: 65px;
                }
            }
        }
    }
}




.theme-setting-area {
    background: $white;
    border-radius: 10px 0 0 10px;
    box-shadow: -2px 1px 8px rgba(69, 69, 0, .6);
    position: fixed;
    right: -250px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    .inner {
        position: relative;
        padding: 20px;
        max-width: 250px;
        width: 100%;

        .sidelogobarcolor-changer {
            margin-bottom: 30px;

            h1 {
                font-size: 16px;
                font-family: $andadapro;
                font-weight: 600;
                text-transform: capitalize;
                border-bottom: 2px solid $simpleblack;
                margin-bottom: 20px;
            }

            button {
                height: 30px;
                width: 30px;
                border-radius: 50%;
                box-shadow: -2px 1px 8px rgba(69, 69, 0, .6);
                margin-right: 20px;
            }

            .white {
                background: $white;
            }

            .black {
                background: $black;
            }
        }

        .setting-icons-close {
            background: $white;
            border-radius: 30px 0 0 30px;
            padding: 10px 15px;
            box-shadow: -4px 0px 2px rgba(69, 69, 0, 0.6);
            position: absolute;
            right: 100%;
            top: 50%;
            transform: translateY(-50%);

            .settingbtn {
                color: $purple;
                font-size: 30px;
                animation: settingbtnicon 1.5s linear infinite;
            }

            @keyframes settingbtnicon {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }

        }
    }
}