@import 'utils/variables';
@import 'base/resets';
@import 'base/typography';

.white-bg {
    background: $white;

    a {
        color: $simpleblack;
    }

    button {
        color: $simpleblack;
    }

}

.black-bg {
    background: $black;

    a {
        color: $white;
    }

    button {
        color: $white;
    }


}

.wrapper {
    overflow: hidden;
    background: $gray;

    .sidebar {
        box-shadow: 4px 4px 10px rgba(69, 65, 78, .06);
        height: 100vh;
        transition: all 0.5s ease;
        height: 100vh;

        .inner {
            height: 100%;

            .side-bar-logo-area {
                padding: 0 20px;
                // border-bottom: 1px solid $simpleblack;
                height: 70px;

                .logo {
                    width: 50px;

                    img {
                        width: 40px;
                    }
                }

                .sidebar-toggle-icon {
                    button {
                        font-size: 30px;

                        .bigsidebar {
                            display: none;
                        }
                    }
                }
            }

            .sidenavbar-area {
                height: 100%;

                .sidenavitem {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px 20px;
                    font-size: 15px;
                    font-weight: 500;
                    font-family: $roboto;
                    margin: 15px 10px;
                    text-transform: capitalize;
                    transition: all .5s;

                    &:first-child {
                        margin-top: 0;
                    }

                    &:hover {
                        color: $purple;

                    }

                    &:hover .submenuitem {
                        color: $purple;

                    }


                    .navcontent {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        column-gap: 15px;
                    }

                    .submenuitem {
                        font-size: 16px;

                        .submenuarrow {
                            display: inline-block;
                            transition: transform 0.3s;
                        }

                        .rotated {
                            transform: rotate(90deg);
                        }
                    }
                }

                .active {
                    color: $purple !important;
                }

                .navsubitems {
                    padding-left: 80px;
                    display: none;

                    ul {
                        border-left: 2px solid $cyan;

                        li {
                            a {
                                font-size: 14px;
                                text-transform: capitalize;
                                font-weight: 400;
                                font-family: $roboto;
                                margin: 10px;
                                padding: 5px;
                                display: block;
                                position: relative;
                                transition: all .5s;

                                &:hover {
                                    color: $cyan;
                                }

                                &:hover .hoversubmenuicon {
                                    opacity: 100%;
                                }

                                .hoversubmenuicon {
                                    color: $cyan;
                                    font-size: 9px;
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    left: -16px;
                                    z-index: 1;
                                    opacity: 0;
                                    transition: all .4s;
                                }
                            }

                            .submenuactive {
                                color: $cyan;
                            }
                        }
                    }
                }

            }

        }
    }

    .main-panel {
        transition: all 0.5s ease;

        .top-header-inner {
            height: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 30px;

            .left {
                .search-area {
                    max-width: 300px;
                    width: 100%;
                    position: relative;

                    input {
                        width: 100%;
                        height: 100%;
                        border: 1px solid $simpleblack;
                        border-radius: 8px;
                        padding: 10px 10px 10px 40px;
                    }

                    .search-icon {
                        font-size: 16px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 10px;
                    }
                }
            }

            .right {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                column-gap: 15px;

                .topbar-item {
                    position: relative;
                    button{
                        font-size: 20px;
                    }
                    span {
                        background: #20c997;
                        height: 14px;
                        width: 14px;
                        font-size: 10px;
                        position: absolute;
                        top: -9px;
                        right: -5px;
                        border-radius: 50%;
                        color: $white;
                        display: block;
                        padding: 2px 0 0 5px;
                    }
                    .fullscreenmode{
                        .minimize{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.setting-icons {
    background: $white;
    border-radius: 30px 0 0 30px;
    padding: 10px 15px;
    box-shadow: -2px 1px 8px rgba(69, 69, 0, .6);
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    .settingbtn {
        color: $purple;
        font-size: 30px;
        animation: seetingbtnicon 1.5s linear infinite;
    }

}

@keyframes seetingbtnicon {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.theme-setting-area {
    background: $white;
    border-radius: 10px 0 0 10px;
    padding: 20px;
    box-shadow: -2px 1px 8px rgba(69, 69, 0, .6);
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    .inner {
        .sidelogobarcolor-changer {
            button {
                height: 30px;
                width: 30px;
                border-radius: 50%;
                box-shadow: -2px 1px 8px rgba(69, 69, 0, .6);
                margin-right: 20px;
            }

            .white {
                background: $white;
            }

            .black {
                background: $black;
            }
        }
    }
}