html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
}

button {
  background: none;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

.m-r {
  margin-right: 15px;
}

.font-icon {
  font-size: 20px;
}

.white-bg {
  background: #ffffff;
}
.white-bg a {
  color: #8a95a0;
}
.white-bg button {
  color: #8a95a0;
}

.black-bg {
  background: #000000;
}
.black-bg a {
  color: #ffffff;
}
.black-bg button {
  color: #ffffff;
}

.wrapper {
  overflow: hidden;
  background: #f5f7fd;
}
.wrapper .sidebar {
  -webkit-box-shadow: 4px 4px 10px rgba(69, 65, 78, 0.06);
          box-shadow: 4px 4px 10px rgba(69, 65, 78, 0.06);
  height: 100vh;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 100vh;
  position: relative;
}
.wrapper .sidebar .inner {
  height: 100%;
}
.wrapper .sidebar .inner .side-bar-logo-area {
  padding: 0 20px;
  height: 70px;
}
.wrapper .sidebar .inner .side-bar-logo-area .logo {
  width: 50px;
}
.wrapper .sidebar .inner .side-bar-logo-area .logo img {
  width: 40px;
}
.wrapper .sidebar .inner .side-bar-logo-area .sidebar-toggle-icon button {
  font-size: 30px;
}
.wrapper .sidebar .inner .side-bar-logo-area .sidebar-toggle-icon button .bigsidebar {
  display: none;
}
.wrapper .sidebar .inner .sidenavbar-area {
  height: 100%;
}
.wrapper .sidebar .inner .sidenavbar-area .sidenavitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin: 15px 10px;
  text-transform: capitalize;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.wrapper .sidebar .inner .sidenavbar-area .sidenavitem:first-child {
  margin-top: 0;
}
.wrapper .sidebar .inner .sidenavbar-area .sidenavitem:hover {
  color: #6610f2;
}
.wrapper .sidebar .inner .sidenavbar-area .sidenavitem:hover .submenuitem {
  color: #6610f2;
}
.wrapper .sidebar .inner .sidenavbar-area .sidenavitem .navcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.wrapper .sidebar .inner .sidenavbar-area .sidenavitem .submenuitem {
  font-size: 16px;
}
.wrapper .sidebar .inner .sidenavbar-area .sidenavitem .submenuitem .submenuarrow {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.wrapper .sidebar .inner .sidenavbar-area .sidenavitem .submenuitem .rotated {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.wrapper .sidebar .inner .sidenavbar-area .active {
  color: #6610f2 !important;
}
.wrapper .sidebar .inner .sidenavbar-area .navsubitems {
  padding-left: 80px;
  display: none;
}
.wrapper .sidebar .inner .sidenavbar-area .navsubitems ul {
  border-left: 2px solid #0dcaf0;
}
.wrapper .sidebar .inner .sidenavbar-area .navsubitems ul li a {
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin: 10px;
  padding: 5px;
  display: block;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.wrapper .sidebar .inner .sidenavbar-area .navsubitems ul li a:hover {
  color: #0dcaf0;
}
.wrapper .sidebar .inner .sidenavbar-area .navsubitems ul li a:hover .hoversubmenuicon {
  opacity: 100%;
}
.wrapper .sidebar .inner .sidenavbar-area .navsubitems ul li a .hoversubmenuicon {
  color: #0dcaf0;
  font-size: 9px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -16px;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.wrapper .sidebar .inner .sidenavbar-area .navsubitems ul li .submenuactive {
  color: #0dcaf0;
}
.wrapper .main-panel {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.wrapper .main-panel .top-header-inner {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 4px 4px 10px rgba(69, 65, 78, 0.06);
          box-shadow: 4px 4px 10px rgba(69, 65, 78, 0.06);
}
.wrapper .main-panel .top-header-inner .left .search-area {
  max-width: 300px;
  width: 100%;
  position: relative;
}
.wrapper .main-panel .top-header-inner .left .search-area input {
  width: 100%;
  height: 100%;
  border: 1px solid #8a95a0;
  border-radius: 8px;
  padding: 10px 10px 10px 40px;
}
.wrapper .main-panel .top-header-inner .left .search-area .search-icon {
  font-size: 16px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10px;
}
.wrapper .main-panel .top-header-inner .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.wrapper .main-panel .top-header-inner .right .topbar-item {
  position: relative;
}
.wrapper .main-panel .top-header-inner .right .topbar-item button {
  font-size: 20px;
}
.wrapper .main-panel .top-header-inner .right .topbar-item span {
  background: #20c997;
  height: 14px;
  width: 14px;
  font-size: 10px;
  position: absolute;
  top: -9px;
  right: -5px;
  border-radius: 50%;
  color: #ffffff;
  display: block;
  padding: 2px 0 0 5px;
}
.wrapper .main-panel .top-header-inner .right .topbar-item .fullscreenmode .minimize {
  display: none;
}
.wrapper .main-panel .top-header-inner .right .topbar-item .institute-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  cursor: pointer;
  position: relative;
}
.wrapper .main-panel .top-header-inner .right .topbar-item .institute-information .institutelogo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: block;
  border: 2px solid #20c997;
  overflow: hidden;
  padding: 2px;
}
.wrapper .main-panel .top-header-inner .right .topbar-item .institute-information .institute-name {
  font-size: 20px;
  font-family: "Andada Pro", serif;
  font-weight: 400;
  text-transform: capitalize;
}
.wrapper .main-panel .top-header-inner .right .topbar-item .institute-information .information-details-area {
  position: absolute;
  top: 80px;
  right: 0;
  background: #ffffff;
  border-radius: 10px;
  display: none;
  -webkit-box-shadow: 0 4px 10px rgba(69, 69, 0, 0.6);
          box-shadow: 0 4px 10px rgba(69, 69, 0, 0.6);
  z-index: 3;
}
.wrapper .main-panel .top-header-inner .right .topbar-item .institute-information .information-details-area .inner {
  padding: 10px;
  position: relative;
}
.wrapper .main-panel .top-header-inner .right .topbar-item .institute-information .information-details-area .inner ul {
  width: 100%;
}
.wrapper .main-panel .top-header-inner .right .topbar-item .institute-information .information-details-area .inner ul li {
  margin-bottom: 15px;
  width: 100%;
}
.wrapper .main-panel .top-header-inner .right .topbar-item .institute-information .information-details-area .inner ul li a {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  background: #f5f7fd;
  text-transform: capitalize;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.wrapper .main-panel .top-header-inner .right .topbar-item .institute-information .information-details-area .inner ul li a:hover {
  background: #6610f2;
  color: #ffffff;
}
.wrapper .main-panel .top-header-inner .right .topbar-item .institute-information .information-details-area .inner .indicator {
  font-size: 20px;
  color: #ffffff;
  position: absolute;
  right: 10px;
  top: -17px;
}

.theme-setting-area {
  background: #ffffff;
  border-radius: 10px 0 0 10px;
  -webkit-box-shadow: -2px 1px 8px rgba(69, 69, 0, 0.6);
          box-shadow: -2px 1px 8px rgba(69, 69, 0, 0.6);
  position: fixed;
  right: -250px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}
.theme-setting-area .inner {
  position: relative;
  padding: 20px;
  max-width: 250px;
  width: 100%;
}
.theme-setting-area .inner .sidelogobarcolor-changer {
  margin-bottom: 30px;
}
.theme-setting-area .inner .sidelogobarcolor-changer h1 {
  font-size: 16px;
  font-family: "Andada Pro", serif;
  font-weight: 600;
  text-transform: capitalize;
  border-bottom: 2px solid #8a95a0;
  margin-bottom: 20px;
}
.theme-setting-area .inner .sidelogobarcolor-changer button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  -webkit-box-shadow: -2px 1px 8px rgba(69, 69, 0, 0.6);
          box-shadow: -2px 1px 8px rgba(69, 69, 0, 0.6);
  margin-right: 20px;
}
.theme-setting-area .inner .sidelogobarcolor-changer .white {
  background: #ffffff;
}
.theme-setting-area .inner .sidelogobarcolor-changer .black {
  background: #000000;
}
.theme-setting-area .inner .setting-icons-close {
  background: #ffffff;
  border-radius: 30px 0 0 30px;
  padding: 10px 15px;
  -webkit-box-shadow: -4px 0px 2px rgba(69, 69, 0, 0.6);
          box-shadow: -4px 0px 2px rgba(69, 69, 0, 0.6);
  position: absolute;
  right: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.theme-setting-area .inner .setting-icons-close .settingbtn {
  color: #6610f2;
  font-size: 30px;
  -webkit-animation: settingbtnicon 1.5s linear infinite;
          animation: settingbtnicon 1.5s linear infinite;
}
@-webkit-keyframes settingbtnicon {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes settingbtnicon {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}