html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
}

button {
  background: none;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

.m-r {
  margin-right: 15px;
}

.font-icon {
  font-size: 20px;
}

.sidebar-light-bg {
  background: #ffffff;
  color: #716a6a;
}

.sidelogobar-white-bg {
  background: #ffffff;
}
.sidelogobar-white-bg a {
  color: #716a6a;
}
.sidelogobar-white-bg button {
  color: #716a6a;
}

.sidelogobar-black-bg {
  background: #000000;
}
.sidelogobar-black-bg a {
  color: #ffffff;
}
.sidelogobar-black-bg button {
  color: #ffffff;
}

.wrapper {
  height: 100vh;
  overflow: hidden;
}
.wrapper .sidebar {
  -webkit-box-shadow: -2px -3px 11px rgba(69, 69, 0, 0.6);
          box-shadow: -2px -3px 11px rgba(69, 69, 0, 0.6);
  height: 100vh;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.wrapper .sidebar .inner .side-bar-logo-area {
  padding: 20px 0;
  border-bottom: 1px solid #716a6a;
}
.wrapper .sidebar .inner .side-bar-logo-area .logo {
  width: 50px;
}
.wrapper .sidebar .inner .side-bar-logo-area .logo img {
  width: 40px;
}
.wrapper .sidebar .inner .side-bar-logo-area .sidebar-toggle-icon button {
  font-size: 30px;
}
.wrapper .sidebar .inner .side-bar-logo-area .sidebar-toggle-icon button .bigsidebar {
  display: none;
}
.wrapper .sidebar .inner .sidenavbar-area .sidenavitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin: 15px 10px;
  text-transform: capitalize;
}
.wrapper .sidebar .inner .sidenavbar-area .sidenavitem:first-child {
  margin-top: 0;
}
.wrapper .sidebar .inner .sidenavbar-area .sidenavitem:hover {
  color: #ff05f3;
}
.wrapper .sidebar .inner .sidenavbar-area .sidenavitem:hover .submenuitem {
  color: #ff05f3;
}
.wrapper .sidebar .inner .sidenavbar-area .sidenavitem .navcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.wrapper .sidebar .inner .sidenavbar-area .sidenavitem .submenuitem {
  font-size: 16px;
}
.wrapper .sidebar .inner .sidenavbar-area .active {
  color: #ff05f3 !important;
}
.wrapper .sidebar .inner .sidenavbar-area .navsubitems {
  padding-left: 80px;
}
.wrapper .sidebar .inner .sidenavbar-area .navsubitems ul {
  border-left: 2px solid #09ffdc;
}
.wrapper .sidebar .inner .sidenavbar-area .navsubitems ul li a {
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin: 10px;
  padding: 5px;
  display: block;
  position: relative;
}
.wrapper .sidebar .inner .sidenavbar-area .navsubitems ul li a .hoversubmenuicon {
  color: #09ffdc;
  font-size: 9px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -16px;
  z-index: 1;
}
.wrapper .main-panel {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.setting-icons {
  background: #ffffff;
  border-radius: 30px 0 0 30px;
  padding: 10px 15px;
  -webkit-box-shadow: -2px 1px 8px rgba(69, 69, 0, 0.6);
          box-shadow: -2px 1px 8px rgba(69, 69, 0, 0.6);
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.setting-icons .settingbtn {
  color: #ff05f3;
  font-size: 30px;
  -webkit-animation: seetingbtnicon 1.5s linear infinite;
          animation: seetingbtnicon 1.5s linear infinite;
}

@-webkit-keyframes seetingbtnicon {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes seetingbtnicon {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.theme-setting-area {
  background: #ffffff;
  border-radius: 10px 0 0 10px;
  padding: 20px;
  -webkit-box-shadow: -2px 1px 8px rgba(69, 69, 0, 0.6);
          box-shadow: -2px 1px 8px rgba(69, 69, 0, 0.6);
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}
.theme-setting-area .inner .sidelogobarcolor-changer button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  -webkit-box-shadow: -2px 1px 8px rgba(69, 69, 0, 0.6);
          box-shadow: -2px 1px 8px rgba(69, 69, 0, 0.6);
  margin-right: 20px;
}
.theme-setting-area .inner .sidelogobarcolor-changer .white {
  background: #ffffff;
}
.theme-setting-area .inner .sidelogobarcolor-changer .black {
  background: #000000;
}/*# sourceMappingURL=dashbord.css.map */