html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 4px; /* Width of the entire scrollbar */
  height: 4px; /* Height of the scrollbar for horizontal scrolling */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar handle */
  border-radius: 10px; /* Roundness of the scrollbar handle */
  border: 1px solid #ccc; /* Border around the scrollbar handle */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle when hovered */
}

/* Firefox */
html {
  scrollbar-width: thin; /* Sets the width of the scrollbar */
  scrollbar-color: #888 #f1f1f1; /* Sets the color of the scrollbar handle and track */
}

body {
  scrollbar-width: thin; /* Apply to the body element */
  scrollbar-color: #888 #f1f1f1;
}

/* Internet Explorer and Edge */
body {
  -ms-overflow-style: none; /* Hides the default scrollbar in IE/Edge */
}

/* For IE 10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  ::-ms-scrollbar {
    width: 4px;
    height: 4px;
  }
}
/* General styling for scrollable elements within the page */
.scrollable-element {
  overflow: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 #f1f1f1; /* For Firefox */
}

.scrollable-element::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
  height: 4px; /* Height of the scrollbar for horizontal scrolling */
}

.scrollable-element::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

.scrollable-element::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar handle */
  border-radius: 10px; /* Roundness of the scrollbar handle */
  border: 1px solid #ccc; /* Border around the scrollbar handle */
}

.scrollable-element::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle when hovered */
}

img {
  width: 100%;
}

button {
  background: none;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

.m-r {
  margin-right: 15px;
}

.font-icon {
  font-size: 20px;
}

.full-black-bg .main-body-wrapper .main-body-header {
  background: #000000 !important;
}
.full-black-bg .main-body-wrapper .profileupdate-area {
  background: #000000 !important;
}
.full-black-bg .main-body-wrapper .profileupdate-area .inputfield {
  border: 1px solid #ffffff !important;
}
.full-black-bg .main-body-wrapper .profileupdate-area .inputfield .form-control {
  background: #000000 !important;
  color: #ffffff !important;
}
.full-black-bg .main-body-wrapper .profileupdate-area .inputfield label {
  background: #000000 !important;
  color: #ffffff !important;
}
.full-black-bg .main-body-wrapper .profileupdate-area .inputfield input {
  color: #ffffff !important;
}
.full-black-bg .main-body-wrapper .profileupdate-area .inputfield .uploadlogo-area {
  border: 1px solid #ffffff !important;
}
.full-black-bg .main-body-wrapper .profile-show-area {
  background: #000000 !important;
}

.main-body-wrapper .main-body-header {
  background: #ffffff;
  margin-bottom: 20px;
  border-radius: 10px;
}
.main-body-wrapper .main-body-header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  padding: 0 20px;
}
.main-body-wrapper .main-body-header h1 span {
  opacity: 0.6;
}
.main-body-wrapper .profileupdate-area {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
}
.main-body-wrapper .profileupdate-area h1 {
  font-size: 20px;
  font-family: "Andada Pro", serif;
  margin: 20px 0;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  font-style: italic;
  text-decoration: underline;
}
.main-body-wrapper .profileupdate-area .inputfield {
  border: 1px solid #1a2035;
  border-radius: 8px;
  position: relative;
  height: 40px;
  margin-bottom: 25px;
}
.main-body-wrapper .profileupdate-area .inputfield .uploadlogo-area {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid #1a2035;
  overflow: hidden;
  margin-left: 20px;
}
.main-body-wrapper .profileupdate-area .inputfield .uploadlogo-area img {
  width: 80px;
  height: 80px;
  display: block;
}
.main-body-wrapper .profileupdate-area .inputfield .fileinputfield {
  display: none;
}
.main-body-wrapper .profileupdate-area .inputfield label {
  position: absolute;
  left: 15px;
  top: -10px;
  font-size: 13px;
  font-weight: 400;
  background: #ffffff;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  padding: 2px 7px;
}
.main-body-wrapper .profileupdate-area .inputfield input {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  padding: 10px 20px;
  border-radius: 8px;
}
.main-body-wrapper .profileupdate-area .inputfield .custom-file-upload {
  color: #ffffff;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #00025c;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.main-body-wrapper .profileupdate-area .inputfield .custom-file-upload:hover {
  background-color: #20c997;
}
.main-body-wrapper .profileupdate-area .inputfield .downarrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  font-size: 20px;
}
.main-body-wrapper .profileupdate-area .logoinputfield {
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.main-body-wrapper .profileupdate-area .updatebtn {
  background: #fdd701;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  text-transform: capitalize;
  border-radius: 5px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.main-body-wrapper .profileupdate-area .updatebtn:hover {
  background: rgb(124, 122, 1);
}
.main-body-wrapper .profile-show-area {
  border-radius: 10px;
  background: #ffffff;
  padding: 20px;
}
.main-body-wrapper .profile-show-area .showlogoarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #000000;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.main-body-wrapper .profile-show-area .showlogoarea .showlogomain-area {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #1a2035;
}
.main-body-wrapper .profile-show-area .showlogoarea h1 {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  color: #00025c;
}
.main-body-wrapper .profile-show-area .showlogoarea p {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-align: center;
  color: #6610f2;
}
.main-body-wrapper .profile-show-area .profile-details-item {
  position: relative;
}
.main-body-wrapper .profile-show-area .profile-details-item .title {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  border-bottom: 1px solid #000000;
  text-transform: capitalize;
  padding-bottom: 4px;
}
.main-body-wrapper .profile-show-area .profile-details-item .right-arrow {
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 20px;
}/*# sourceMappingURL=styles.css.map */