.feeparticular-main-area{
    .header{
       background: $white; 
       padding: 20px;
       h1{
        font-size: 20px;
        text-transform: capitalize;
        color: $black;
        font-family: $roboto;
        font-weight: 500;
       }
    }
}