.full-black-bg{
    .main-body-wrapper{
        .main-body-header{
            background: $black !important;
        }
    }
}
.main-body-wrapper{
    .main-body-header{
        background: $white;
       
        border-radius: 10px;
        h1{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            column-gap: 10px;
            padding: 0 20px;
            span{
                opacity: .6;
            }
        }
    }
}